{% extends "News/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<section class="mbr-section cid-so8PRHlR60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">EDIT INTERVIEW</h2>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-sm-9">
                <form method="POST" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="col-md-12 input-group-btn align-center">
                        <button type="submit" class="btn btn-sm btn-outline-primary btn-form display-4" style="border-radius: 10px;">POST</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}