{% extends "News/base.html" %}
{% block content %}

<section class="section-table cid-so8MVHP2x9" id="table1-1i">
    <div class="container container-table">
        <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2">MANAGE CONTENTS</h2> 
         	<div class="table-wrapper">
           		<div class="container">
             		<div class="row search">
               			<div class="col-sm-6"></div>
               			<div class="col-sm-6">
                   			<div class="dataTables_filter">
                    	 		<label class="searchInfo mbr-fonts-style display-7">Search:</label>
                    			<input class="form-control input-sm" disabled="">
                   			</div>
               			</div>
             		</div>
           		</div>
           		
           		<div class="container scroll">
                	<table class="table isSearch" cellspacing="0" data-empty="No matching records found">
						<p class="text-muted">** Tap table head to sort!!!</p>
                    	<thead>
                        	<tr class="table-heads">
								<th class="head-item mbr-fonts-style display-7">HEADLINE</th>
								<th class="head-item mbr-fonts-style display-7">ID</th>
								<th class="head-item mbr-fonts-style display-7">AUTHOR</th>
								<th class="head-item mbr-fonts-style display-7">PUBLISHED DATE</th>
								<th class="head-item mbr-fonts-style display-7">ACTION</th>
                        	</tr>
                    	</thead>
                    	<tbody>
							{% for n in news %}
							<tr> 
								<td class="body-item mbr-fonts-style display-7">{{n.headline}}</td>
								<td class="body-item mbr-fonts-style display-7">{{n.id}}</td>
								<td class="body-item mbr-fonts-style display-7">{{n.author.username}}</td>
								<td class="body-item mbr-fonts-style display-7">{{n.date_posted|date:"F d, Y"}}</td>
								<td class="d-flex">
									<a class="btn btn-sm btn-outline-success" style="min-width:100px" href="{% url 'single_news' n.id %}">View</a>
									<a class="btn btn-sm btn-outline-info" style="min-width:100px" href="{% url 'edit_news' n.id %}">Edit</a>
									<a class="btn btn-sm btn-outline-danger" style="min-width:100px" href="{% url 'delete_news' n.id %}">Delete</a>
								</td>
							</tr>
							{% endfor %}
                    	</tbody>
                	</table>
            	</div>
           		<div class="container table-info-container">
             		<div class="row info">
               			<div class="col-md-6">
                 			<div class="dataTables_info mbr-fonts-style display-7">
								<span class="infoBefore">Showing</span>
								<span class="inactive infoRows"></span>
								<span class="infoAfter">entries</span>
								<span class="infoFilteredBefore">(filtered from</span>
								<span class="inactive infoRows"></span>
								<span class="infoFilteredAfter"> total entries)</span>
                 			</div>
               			</div>
               		<div class="col-md-6"></div>
             	</div>
           	</div>
        </div>
    </div>
</section>

   {% endblock content %}