{% extends 'News/base.html' %}
{% load static %}

{% block content %}

<section class="gallery3 cid-so8w9xXVCW" id="gallery3-16">  
    <div class="container-fluid">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">{{ category }}</h4>
        </div>
        <div class="row mt-4">
            {% for n in news %}
            <div class="item features-image сol-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img p-2">
                        <img src="{{ n.image.url }}" height="180">
                    </div>
                    <div class="p-2">
                        <h5 class="item-title ">
                            {{ n.headline }}
                        </h5>
                        
                        <p class="mbr-text mbr-fonts-style mt-1 display-7">
                            {{ n.summary|slice:"0:100" }}...
                            <a href="{% url 'single_news' n.id %}" class="text-primary">&nbsp;Read more</a>
                        </p>
                    </div>
                </div>
            </div>
           {% endfor %}
        </div>
    </div>
</section>
{% endblock %}