{% extends 'News/base.html' %}
{% load static %}

{% block content %}

<section class="gallery3 cid-so8w9xXVCW" id="gallery3-16">  
    <div class="container-fluid">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">{{ cat.category }}</h4>
            
        </div>
        <div class="row mt-4">
            {% for n in news %}
            <div class="item features-image сol-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{{ n.image.url }}" height="200">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-7">
                            <strong>{{ n.headline }}</strong>
                        </h5>
                        
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">
                            {{ n.summary|slice:"0:100" }}...
                            <a href="{% url 'single_news' n.id %}" class="text-primary">&nbsp;Read more</a>
                        </p>
                    </div>
                    {% comment %} <div class="mbr-section-btn item-footer mt-2"><a href="single_news.html" class="btn btn-primary item-btn display-7">R e a d</a></div> {% endcomment %}
                </div>
            </div>
           {% endfor %}
        </div>
    </div>
</section>
{% endblock %}