{% extends 'News/base.html' %}
{% load static %}

{% block content %}
<section class="header1 cid-so2g2MNZku mbr-fullscreen mbr-parallax-background" id="header16-3">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-2">NEWS MEDIA SYSTEM</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-7">&nbsp;For a better future by Bid Ocean</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="{% url 'all_news' %}">Discover</a></div>
            </div>
        </div>
    </div>

</section>

<section class="gallery3 cid-so2thctN8J mt-1 pt-5" id="gallery3-d">
    <div class="container-fluid container">
        <div class="row">
            <div class="col-12 col-sm-9">
				<div class="mbr-section-head mb-1">
					<div class="mbr-section-head text-center">
                        <h4 class="mbr-section-title mbr-fonts-style mb-0 display-2">
                            <strong>Get inspired by the best</strong>
                        </h4>
                    </div>
				</div>
				<div class="row mt-2 pt-2">
					<!-- loop from here -->
                    {% for i in interview %}
					<div class="item features-image сol-12 col-sm-4">
						<div class="flip-card">
							<div class="flip-card-inner">
								<div class="flip-card-front" style="background:url({{ i.thumbnail.url }}); background-size:cover;">
									<i class="fa fa-play fa-3x text-white mt-3 pt-5" style="opacity: 0.5"></i>
									<h6 class="text-white mt-3"><strong>{{ i.title|slice:"0:50" }}</strong></h6>
								</div>
								<div class="flip-card-back pt-4 pl-1 pr-1 bg-dark">
									<p>{{ i.description|slice:"0:80" }}</p>
									<p><i>{{ i.event_date }}</i></p>
									<a class="btn-sm btn-link text-white" href="{% url 'single_interview' i.id %}">Watch <i class="fa fa-play"></i></a>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					<!-- loop till here -->
					<div class="item features-image сol-12 col-sm-4">
						<div class="flip-card">
							<div class="flip-card-inner">
								<a href="{% url 'all_interview' %}">
									<div class="flip-card-front" style="background:url({% static 'assets/images/mbr-1920x1271.jpg' %}); background-size:cover;">
										<i class="fa fa-play fa-3x text-white mt-3 pt-5" style="opacity: 1"></i>
										<h6 class="text-white mt-3"><strong>See more</strong></h6>
									</div>
									<div class="flip-card-back pt-3 pl-1 pr-1">
										<i class="fa fa-play fa-3x text-primary mt-3 pt-5" style="opacity: 1"></i>
										<h6 class="text-primary mt-3"><strong>See more</strong></h6>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-3 mt-2 pt-2">
				<!-- headlines sidebar -->
				<h6 class="col-12 text-muted text-center">Recent headlines</h6>
				<ul class="list-group mt-5" style="max-height: 400px; overflow-y: scroll;">
                    {% for n in news %}
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<a href="{% url 'single_news' n.id %}" class="list-group-item-action">
							{{ n.headline }}
						</a>
						<div class="image-parent ml-2" style="max-width: 40px;">
							<img src="{{ n.image.url }}" class="img-fluid" alt="quixote">
						</div>
					</li>
                    {% endfor %}
				</ul>
				<h6 class="text-muted text-right pt-1"><a href=" {% url 'all_news' %}">see more</a></h6>
				<!-- headlines sidebar -->	
			</div>
        </div>
    </div>
</section>

{% endblock %}
