{% extends 'News/base.html' %}
{% load static %}

{% block content %}
<section class="header1 cid-so2g2MNZku mbr-fullscreen mbr-parallax-background" id="header16-3">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10 align-center">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-2">NEWS MEDIA SYSTEM</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-7">&nbsp;For a better future by Bid Ocean</p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="{% url 'all_news' %}">Discover</a></div>
            </div>
        </div>
    </div>

</section>

<section class="gallery3 cid-so2thctN8J mt-1  pt-5" id="gallery3-d">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-8">
				<div class="mbr-section-head mb-1">
					<div class="mbr-section-head text-center">
                        <h4 class="mbr-section-title mbr-fonts-style mb-0 display-2">
                            <strong>Get inspired by the best</strong>
                        </h4>
                    </div>
				</div>
				<div class="row mt-1">
					<!-- loop from here -->
                    {% for i in interview %}
					<div class="item features-image сol-12 col-sm-4">
						<a class="item-wrapper" href="{% url 'single_interview' i.id %}">
							<div class="item-img pb-0">
								<div class="item-img">
									<img src="{{ i.thumbnail.url }}" height="150px">
								</div>
							</div>
							<div class="item-content pt-0">
								<p class="mbr-text mbr-fonts-style text-black mt-3 display-7 text-center">
									{{ i.title }} 
								</p>   
							</div>
						</a>
					</div>
					{% endfor %}
					<!-- loop till here -->
				</div>
			</div>
			<div class="col-12 col-sm-4" style="max-height: 250px">
				<!-- headlines sidebar -->
				<h6 class="col-6 text-muted text-center">Recent headlines</h6>
				<ul class="list-group" >
                    {% for n in news %}
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<a href="{% url 'single_news' n.id }" class="list-group-item-action">
							{{ n.headline }}
						</a>
						<div class="image-parent ml-2" style="max-width: 40px;">
							<img src="{{ n.image.url }}" class="img-fluid" alt="quixote">
						</div>
					</li>
                    {% endfor %}
					<h6 class="text-muted text-right pt-1"><a href=" {% url 'all_news' %}">see more</a></h6>
				</ul>
				<!-- headlines sidebar -->	
			</div>
        </div>
    </div>
</section>


{% endblock %}
