{% extends 'News/base.html' %}
{% load static %}

{% block content %}
<section class="mbr-section content4 cid-so8sMs0AOC" id="content4-13">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                   {{ news.headline }}
               </h2>               
           </div>
       </div>
   </div>
</section>
   
<section class="image2 cid-so8eyYoSiL" id="image2-r">      
    <div class="container text-justify">
        <div class="row align-items-center">
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <p class="mbr-text mbr-fonts-style display-7">
                        <em>{{ news.author.username }}, {{ news.date_posted|date:"F d, Y" }} {{ news.updated }}</em><br><br>
                        {{ news.text|safe }}   
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
  
<div class="container my-4">
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h4 class="align-center pb-3 mbr-fonts-style">
                    Articles you might be interested in
                </h4>               
            </div>
        </div>
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
                <div class="row">

                    <div class="col-12 col-sm-3">
                        <div class="card mb-2">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a class="btn btn-sm btn-primary">Button</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-3 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a class="btn btn-sm btn-primary">Button</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-3 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a class="btn btn-sm btn-primary">Button</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-3 clearfix d-none d-md-block">
                        <div class="card mb-2">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a class="btn btn-sm btn-primary">Button</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}