{% extends "News/base.html" %}
{% block content %}
<section class="video3 cid-so8Aq9KzR5 mt-0" id="video3-1b">
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style mb-0 display-2"><strong>Get inspired by the best</strong></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-0 mt-2 display-7">watch interviews of some inspiring personalities.</h5>
        </div>
        <div class="row">
            {% for i in interview %}
            <div class="col-12 col-sm-3 video-block mt-1">
                <div class="video-wrapper bg-light" id="{{ i.id }}">
                    <video class="embed-responsive embed-responsive-16by9" poster="{{ i.thumbnail.url }}">
                        <source src="{{ i.video.url }}" type="video/mp4" />
                    </video>
                </div>
                <p class="mbr-text pt-2 mbr-fonts-style display-6 bg-dark">
                    <a class="text-primary" href="{% url 'single_interview' i.id %}">{{ i.title }}</a>
                </p>
            </div>
            {% endfor %}
        </div>
        
    </div>
</section>
{% endblock content %}